<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>awesome</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;700;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./global.css">
</head>
<body >
    <header class="header"><a class="logo" href="/"><h1>awesome</h1></a></header>
    
    <section class="products">
        <a href="/1">
            <div class="product--card">
                <img class="pseudo-image" src="https://avatars.dicebear.com/api/initials/:camisa.svg" />
                <div class="card__info">
                    <p>Camisa</p>
                    <p class="id">id: 1</p>
                    <p class="category">Categoria: Roupas</p>
                </div>
            </div>
        </a>
        <a href="/1283">
            <div class="product--card">
                <img class="pseudo-image" src="https://avatars.dicebear.com/api/initials/:Notebook.svg" />
                <div class="card__info">
                    <p>Notebook</p>
                    <p class="id">id: 1283</p>
                    <p class="category">Categoria: Tecnologia</p>
                </div>
            </div>
        </a>
    </section>
    

</body>
</html>