.header {
    position: relative;
}

.header span{
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    color: blue;
}

.product {
    color: rgb(48, 47, 47);
    width: 80%;
    margin: 0 auto;
    max-width: 1440px;
    font-family: arial, tahoma, verdana, sans-serif;
}

.product__img{
    width: 100%;
    height: auto;
}

.product__info {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.wrapper > p {
    margin-left: 5px;
    font-weight: normal;
    color: rgb(102, 102, 102);
}

p {
    margin-top: 5px;
    max-width: 100ch;
}

.product__info > p:last-child {
    font-weight: 700;
}

.product__info > p:last-child span{
    font-weight: 400;
    color: rgb(102, 102, 102);
}

@media (max-width: 639px) {
    .product__img {
        margin-bottom: 10px;
    }
}

@media (min-width: 640px) {
    /* .product{
        display: flex;
    } */

    .product__img {
        max-width: 310px;
        margin-right: 20px;
    }
}

@media (min-width: 800px) {
    .product{
        display: flex;
    }

    .product__img {
        max-width: 390px;
    }
}

@media (min-width: 1024px) {
    .product__img {
        max-width: 450px;
    }

    .product__info > p:last-child {
        margin-top: auto;
        margin-bottom: 20px;
    }
    
}