

section.products {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.product--card {
    font-family: arial, tahoma, verdana, sans-serif;
    /* background-color: green; */
    min-width: 180px;
    min-height: 210px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    cursor: pointer;

    transition: box-shadow 0.4s ease 0s;
}

.product--card:hover {
    box-shadow:  0px 0px 10px 10px rgba(0, 0, 0, 0.15);
}


.pseudo-image {
    /* background-color: indigo; */
    width: 100%;
    height: auto;
    /* max-height: 00px; */
}

.card__info {
    width: 85%;
    /* padding: 0 15px; */
    background-color: #FFF;
    margin: .7rem auto;
}

.id {
    margin: 5px 0;
}

.id, .category {
    font-size: small;
    color: rgb(161, 160, 160);
}
